<div class="lobby-switch">
	<div class="switch">
		<label>
			<img src="/static/assets/img/heroicons/user.svg" />
			<input type="radio" name="privacy-level" value="public" />
		</label>
		<label>
			<img src="/static/assets/img/heroicons/link.svg" />
			<input type="radio" name="privacy-level" value="unlisted" />
		</label>
		<label>
			<img src="/static/assets/img/heroicons/lock.svg" />
			<input type="radio" name="privacy-level" value="private" />
		</label>
	</div>
	<div>
		<p>Public</p>
		<p>Unlisted</p>
		<p>Private</p>
	</div>
</div>
