APP_ADDRESS=0.0.0.0:8080
ENVIRONMENT=development
DISCORD_FEEDBACK_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_url
# Secrets for prod stored in:
# - discord_feedback_webhook_url.txt
# - gcloud_rw_api_key.txt