@import "tailwindcss";

@source not "*";
@source "web/src/**/*";

.tile1 {
    background-image: url('../public/atlas.png');
    background-position: -40px 0px;
    width: 68px;
    height: 68px;
}

.tile2 {
    background-image: url('../public/atlas.png');
    background-position: -112px 0px;
    width: 68px;
    height: 68px;
}

.tile {
    @apply transform-3d transition-transform duration-500 ease-in-out relative perspective-distant;

    &::before {
        content: '';
        background-image: url('../public/atlas.png');
        background-position: -184px 0px;
        width: 68px;
        height: 68px;
        @apply absolute block rotate-x-180 -translate-z-1 delay-[170ms];
        backface-visibility: hidden;
    }
}

.tile-closed {
    @apply rotate-x-180;

    &::before {
        @apply rotate-x-0;
    }
}

.tile-parent {
    @apply transition-[filter,translate] duration-100;
}

.tile-parent:has(.tile-selected) {
    @apply brightness-125 -translate-y-1;
}

.tile-parent:has(.tile-valid) {
    @apply brightness-110 -translate-y-0.5;
}

.tile-red {
    filter: hue-rotate(-260deg);
}

.tile-yellow {
    filter: brightness(110%) hue-rotate(-2000deg);
}

.tile-green {
    filter: brightness(110%) saturate(50%) hue-rotate(-120deg);
}

.tile-blue {
    filter: hue-rotate(0deg);
}

.tile-layout-1::after {
    content: '';
    display: block;
    background-image: url('../public/atlas.png');
    background-position: -40px -72px;
    width: 68px;
    height: 68px;
}

.tile-layout-2::after {
    content: '';
    display: block;
    background-image: url('../public/atlas.png');
    background-position: -112px -72px;
    width: 68px;
    height: 68px;
}

.tile-layout-3::after {
    content: '';
    display: block;
    background-image: url('../public/atlas.png');
    background-position: -184px -72px;
    width: 68px;
    height: 68px;
}

.tile-layout-4::after {
    content: '';
    display: block;
    background-image: url('../public/atlas.png');
    background-position: -256px -72px;
    width: 68px;
    height: 68px;
}


