@import "tailwindcss";

@source not "*";
@source "web/src/**/*";

@font-face {
    font-family: 'Comic Mono';
    src: url('../public/fonts/ComicMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer base {
    *, pre {
        font-family: 'Comic Mono', monospace;
    }
    body {
        image-rendering: pixelated;
        @apply bg-gray-900 text-white;
    }
    h1 {
        @apply text-3xl text-slate-100
    }
    h2 {
        @apply text-2xl;
    }


    input {
        @apply p-2 bg-gray-700 rounded-lg block min-w-4;
    }

    button {
        @apply p-2 bg-gray-700 hover:bg-gray-600 transition-colors duration-100 rounded-lg block cursor-pointer;
    }

    hr {
        @apply border-t border-gray-600;
    }
    .vr {
        @apply border-l border-gray-600 h-full;
    }

    footer {
        @apply flex h-20 max-lg:bg-gray-800 flex-col items-center justify-end p-4;
        @apply lg:sticky lg:flex-row lg:bottom-0 lg:p-2 lg:w-full lg:justify-start lg:gap-8 lg:h-auto;
    }
}

@layer components {
    .primary-btn {
        @apply bg-blue-500 hover:bg-blue-600;
    }
    .danger-btn {
        @apply bg-red-100 hover:bg-red-200 text-red-500;
    }

    .player-list {
        @apply flex flex-col gap-2;
        .player-entry {
            @apply flex items-center justify-between gap-2 text-lg;
            button {
                @apply p-1;
            }
        }
    }

    .can-copy {
        @apply cursor-pointer text-slate-500 hover:text-slate-600 transition-colors duration-100;
        &:hover {
            @apply underline;
        }
    }

    .rules-accordion {
        @apply w-full lg:w-auto lg:absolute right-full mr-4 bg-gray-800;
        @apply p-2 rounded-lg z-40 h-full flex flex-col lg:flex-row-reverse;
        h2 {
            @apply lg:wrap-anywhere lg:w-min block h-full lg:uppercase;
        }
        .accordion {
            @apply w-full;
            @apply lg:peer-checked:w-64 lg:w-0 lg:overflow-hidden lg:transition-[width] lg:duration-100;
        }
        .accordion-content {
            @apply w-full lg:w-64 p-1;
        }
    }

    .selection {
        @apply absolute z-40 opacity-0;
        background-image: url('../public/atlas.png');
        background-position: -256px 0px;
        width: 68px;
        height: 68px;
        &:focus {
            @apply opacity-100;
        }
    }

    .board-wrapper {
        @apply relative min-w-xs min-h-48 bg-gray-800 p-2 rounded-lg;
    }

    .board-overlay {
        @apply z-40 flex flex-col gap-2 h-full;
        .error {
            @apply block text-red-500;
        }
    }

    .board {
        @apply relative grid grid-cols-6 w-fit p-2 *:-ml-1 *:-mt-1;
        @apply max-sm:scale-90 max-sm:-mx-8 max-sm:-my-2;
    }

    .log {
        @apply block w-full text-left overflow-y-scroll bg-gray-800 p-2 rounded-lg;
        @apply lg:absolute lg:left-full lg:ml-4 lg:w-64 lg:h-full;
        span {
            @apply block w-full bg-transparent hover:bg-white/10 transition-colors duration-75;
        }
    }

    /* Tile focusing */
    .board:has(.tile-valid,.tile-selected) .tile-parent:not(:has(.tile-valid)):not(:has(.tile-selected)) {
        @apply brightness-50 saturate-[77%] opacity-50;
    }
    .tile-parent:has(.tile-selected) {
        @apply brightness-125 -translate-y-1;
    }
    .tile-parent:has(.tile-valid) {
        @apply brightness-105;
        > .tile-valid::after {
            @apply drop-shadow-lg drop-shadow-blue-200;
        }
    }
    /* Tile focusing end */

    .tile-grandparent {
        @apply relative;
        .tile-parent {
            @apply transition-[filter,translate] duration-100;

        }
    }
    .tile.tile-closed, .not-hover-tile-closed:not(:hover) .tile,.hover-tile-closed:hover .tile {
        @apply rotate-x-180 opacity-50;

        &::before {
            @apply rotate-x-0;
        }
    }
    .tile {
        background-image: url('../public/atlas.png');
        width: 68px;
        height: 68px;
        @apply transform-3d transition-[translate,opacity,rotate,transform] duration-500 ease-in-out relative perspective-distant;

        &::before {
            content: '';
            background-image: url('../public/atlas.png');
            background-position: -184px 0px;
            width: 68px;
            height: 68px;
            @apply absolute block rotate-x-180 -translate-z-1 delay-[170ms];
            backface-visibility: hidden;
        }
        &::after {
            @apply transition-[filter] duration-100;
        }

        &.tile-type-1 {
            background-position: -40px 0px;
        }

        &.tile-type-2 {
            background-position: -112px 0px;
        }

        &.tile-RED {
            filter: hue-rotate(-260deg) brightness(90%) saturate(120%);
        }

        &.tile-YELLOW {
            filter: brightness(110%) hue-rotate(-200deg) saturate(110%);
        }

        &.tile-GREEN {
            filter: brightness(110%) saturate(70%) hue-rotate(-120deg);
        }

        &.tile-BLUE {
            filter: hue-rotate(-20deg) brightness(90%) saturate(200%);
        }

        &.tile-COLORLESS {
            filter: saturate(50%) brightness(100%);
        }

        &.tile-layout-1::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -40px -72px;
            width: 68px;
            height: 68px;
        }

        &.tile-layout-2::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -112px -72px;
            width: 68px;
            height: 68px;
        }

        &.tile-layout-3::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -184px -72px;
            width: 68px;
            height: 68px;
        }

        &.tile-layout-4::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -256px -72px;
            width: 68px;
            height: 68px;
        }

        &.tile-wildcard::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -40px -144px;
            width: 68px;
            height: 68px;
        }
        &.tile-teleport::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -112px -144px;
            width: 68px;
            height: 68px;
        }
        &.tile-zero::after {
            content: '';
            display: block;
            background-image: url('../public/atlas.png');
            background-position: -184px -144px;
            width: 68px;
            height: 68px;
        }

        &.tile-wall::after {

        }

    }

    .move-arrow {
        @apply bg-blue-500 absolute top-0 left-0 w-full h-full pointer-events-none;
        @apply hidden;
    }
    .move-arrow-hover, .move-arrow-shown {
        @apply block;
    }

    .player-parent {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30;
        .player {
            @apply drop-shadow-xl drop-shadow-black;
            background-image: url('../public/atlas.png');
            width: 28px;
            height: 28px;
            &.player-1 {
                background-position: 0px 0px;
            }
            &.player-2 {
                background-position: 0px -28px;
            }
            &.player-3 {
                background-position: 0px 0px;
                filter: hue-rotate(120deg) brightness(110%);
            }
            &.player-4 {
                background-position: 0px -28px;
                filter: hue-rotate(180deg) brightness(110%);
            }
        }

        &.player-lost {
            @apply saturate-0;
        }

        &.player-won {
            @apply animate-bounce;
        }
        &.player-highlight {
            @apply animate-bounce;
        }
    }
}
