/* Tile focusing */
.board:has(.tile-valid, .tile-selected)
	.tile-parent:not(:has(.tile-valid)):not(:has(.tile-selected)) {
	@apply brightness-50 saturate-[77%] opacity-50;
}
.tile-parent:has(.tile-selected) {
	@apply brightness-125 -translate-y-1;
}
.tile-parent:has(.tile-valid) {
	@apply brightness-105;
	> .tile-valid::after {
	}
}
/* Tile focusing end */

.tile-grandparent {
	@apply relative;
	.tile-parent {
		@apply transition-[filter,translate] duration-100;
	}
}
.tile.tile-closed,
.not-hover-tile-closed:not(:hover) .tile,
.hover-tile-closed:hover .tile {
	@apply rotate-x-180 opacity-50;

	&::before {
		@apply rotate-x-0;
	}
}

.tile {
	@apply bg-(image:--atlas-url) h-[68px] w-[68px];
	@apply transform-3d transition-[translate,opacity,rotate,transform] duration-500 ease-in-out relative perspective-distant;

	&::before {
		@apply content-[''] block bg-(image:--atlas-url) h-[68px] w-[68px];
		@apply absolute rotate-x-180 -translate-z-1 delay-[170ms] transform-3d;
		background-position: -184px 0px;
		backface-visibility: hidden;
	}

	&[class*=' tile-layout']::after,
	&.tile-wildcard::after,
	&.tile-teleport::after,
	&.tile-zero::after {
		@apply content-[''] block bg-(image:--atlas-url) h-[68px] w-[68px];
		@apply transition-[filter] duration-100;
		background-position-y: calc((-1) * var(--tile-col-y) * 72px);
		background-position-x: calc((-1) * var(--tile-col-x) * 72px - 40px);

		--tile-col-y: 2;
	}
	&[class*=' tile-layout']::after {
		--tile-col-y: 1;
	}
	
	&.tile-layout-1::after,
	&.tile-wildcard::after {
		--tile-col-x: 0;
	}
	&.tile-layout-2::after,
	&.tile-teleport::after {
		--tile-col-x: 1;
	}
	&.tile-layout-3::after,
	&.tile-zero::after {
		--tile-col-x: 2;
	}
	&.tile-layout-4::after {
		--tile-col-x: 3;
	}

	&.tile-type-1 {
		background-position: -40px 0px;
	}

	&.tile-type-2 {
		background-position: -112px 0px;
	}
}
