.selection {
    @apply absolute z-40 opacity-0;
    background-image: var(--atlas-url);
    background-position: -256px 0px;
    width: 68px;
    height: 68px;
    &:focus {
        @apply opacity-100;
    }
    @apply max-md:hidden;
}

.move-arrow {
    @apply bg-blue-500 absolute top-0 left-0 w-full h-full pointer-events-none;
    @apply hidden;
}
.move-arrow-hover,
.move-arrow-shown {
    @apply md:block;
}