@import "tailwindcss";
@import './game.css';

@source not "*";
@source "web/src/**/*";

:root {
    --atlas-url: url('/static/assets/img/atlas.png');
}

@font-face {
    font-family: 'Comic Mono';
    src: url('/static/assets/fonts/ComicMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer base {
    *, pre {
        font-family: 'Comic Mono', monospace;
        @apply text-white;
    }
    body {
        image-rendering: pixelated;
        @apply bg-gray-900;
    }
    h1 {
        @apply text-3xl text-slate-100
    }
    h2 {
        @apply text-2xl;
    }


    input {
        @apply p-2 bg-gray-700 rounded-lg block min-w-4;
    }

    button {
        @apply p-2 bg-gray-700 hover:bg-gray-600 transition-colors duration-100 rounded-lg block cursor-pointer;
    }

    hr {
        @apply border-t border-gray-600;
    }
    .vr {
        @apply border-l border-gray-600;
    }

    footer {
        @apply flex h-20 max-lg:bg-gray-800 flex-col items-center justify-end p-4;
        @apply lg:sticky lg:flex-row lg:bottom-0 lg:p-2 lg:w-full lg:justify-start lg:gap-8 lg:h-auto;
    }
}

@layer components {
    .primary-btn {
        @apply bg-blue-500 hover:bg-blue-600;
    }
    .danger-btn {
        @apply bg-red-100 hover:bg-red-200 text-red-500;
    }

    .player-list {
        @apply flex flex-col gap-2;
        .player-entry {
            @apply flex items-center justify-between gap-2 text-lg;
            button {
                @apply p-1;
            }
        }
    }

    .can-copy {
        @apply cursor-pointer text-slate-500 hover:text-slate-600 transition-colors duration-100;
        &:hover {
            @apply underline;
        }
    }

    .rules-accordion {
        @apply w-full lg:w-auto lg:absolute right-full mr-4 bg-gray-800;
        @apply p-2 rounded-lg z-40 h-full flex flex-col lg:flex-row-reverse;
        h2 {
            @apply lg:wrap-anywhere lg:w-min block h-full lg:uppercase;
        }
        .accordion {
            @apply w-full;
            @apply lg:peer-checked/checkbox:w-64 lg:peer-focus-visible/label:w-64 lg:w-0 lg:overflow-hidden lg:transition-[width] lg:duration-100;
        }
        .accordion-content {
            @apply w-full lg:w-64 p-1;
        }
    }

    .config-dialog {
        @apply relative m-auto bg-gray-800 rounded-xl min-w-40 min-h-40 px-4 py-8;
        .close-config-btn {
            @apply absolute top-2 right-2 p-1 bg-gray-700 hover:bg-gray-600 transition-colors duration-100 rounded-full;
        }
        .tile-list {
            @apply grid grid-cols-5 gap-3 gap-x-2;
        }
        .config-width-height {
            @apply grid grid-cols-2 w-full gap-2;
        }
        .presets {
            @apply flex justify-between;
            > div {
                @apply bg-gray-700 rounded-lg grid gap-0.5 p-2 w-24 h-24 transition-[background-color,translate,transform];
                @apply hover:bg-gray-600 hover:*:bg-gray-500;
                &.highlight {
                    @apply -translate-y-1 bg-gray-600 *:bg-gray-500;
                }
                > div {
                    @apply bg-gray-600 rounded-sm transition-colors;
                }
            }
        }
        input[type="number"] {
            @apply w-full;
        }
        h3 {
            @apply text-center text-xl;
        }
    }

    .right-btn, .left-btn {
        width: 32px;
        height: 52px;
        @apply relative bg-transparent hover:bg-transparent p-0;
        @apply outline-none;
        > :first-child {
            @apply absolute top-1 left-0;
            background-image: var(--atlas-url);
            background-position: 0px -80px;
            width: 32px;
            height: 48px;
        }
        &:disabled > :first-child{
            background-position: 0px -128px;
        }
        &.left-btn {
            @apply -scale-x-100;
        }
        &:focus-visible {
            content: '';
            background-image: var(--atlas-url);
            background-position: 0px -176px;
        }
    }

    .selection {
        @apply absolute z-40 opacity-0;
        background-image: var(--atlas-url);
        background-position: -256px 0px;
        width: 68px;
        height: 68px;
        &:focus {
            @apply opacity-100;
        }
    }

}
