<div class="join-ui p-1">
	<div class="flex flex-col lg:flex-row w-full">
		<input
			type="text"
			name="game-code"
			id="game-code"
			placeholder="abcd1234"
			size="1"
			title="Game code"
		/>
		<button id="join" class="primary-btn">Join</button>
	</div>
	<table title="Public games" id="real-time-table">
		<thead>
			<tr>
				<th>Host</th>
				<th>Players</th>
				<th>Board</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="bg-gray-600 **:[td:nth-child(4)]:w-min">
			<tr>
				<td>omga</td>
				<td>2/4</td>
				<td>4x4</td>
				<td><button><img src="/static/assets/img/heroicons/enter.svg" class="invert-100 size-5" /></button></td>
			</tr>
		</tbody>
	</table>
</div>
