<dialog closedby="any" id="feedback-dialog" class="feedback-dialog">
	<button autofocus id="close-feedback-btn" class="close-dialog-btn">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 20 20"
			fill="currentColor"
			class="size-5"
		>
			<path
				d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
			/>
		</svg>
	</button>

	<h2 class="text-center">Feedback</h2>
	<hr class="my-2" />
	<form class="flex flex-col gap-1">
		<label>
			Email or Discord (optional):
			<input type="text" name="contact" id="feedback-contact" class="w-full" />
		</label>
        <label>
            Ideas, suggestions, or feedback:
            <textarea id="feedback-feedback" name="feedback" rows="4" class="w-full"></textarea>
        </label>
        <button type="submit" id="feedback-submit" class="primary-btn mt-4">
            Submit
        </button>
	</form>
</dialog>
