<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Claustroboard</title>
</head>
<body class="relative w-screen min-h-screen">
    <div class="grid grid-rows-[1fr_6fr_1fr] lg:grid-rows-[1fr_3fr_2fr] h-full w-full">
        <div></div>
        <div class="flex flex-col items-center justify-center h-fit">
            <div class="flex flex-col gap-4 w-full">
                <div class="relative flex flex-col items-stretch w-fit mx-auto gap-4 h-full">
                    <!-- Goto: Welcome card -->
                    <div class="h-full bg-gray-800 p-4 rounded-lg flex flex-col justify-between">
                        <h1 class="block w-min">Welcome to Claustroboard!</h1>
                    </div>
                    <!-- Goto: board wrapper -->
                    <div class="board-wrapper">
                        {{ template "board-overlay.html" }}
                        <!-- Goto: board game -->
                        <div class="board" id="board">
                        </div>
                    </div>
                    <div id="log" class="log row-span-2">
                        <h2>The log</h2>
                        <span>...</span>
                    </div>
                    <!-- Goto: rules accordion -->
                    {{ template "rules.html" }}
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <!-- Goto: config -->
    {{ template "config-dialog.html" }}
    <footer>
        <a href="https://github.com/omgtant/claustroboard" class="block h-full">
            <img src="./public/github.svg" alt="GitHub" class="h-full lg:size-12" />
        </a>
    </footer>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html>